@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Huemanatee.Models.IndexModel>
@{
    Layout = "layout.cshtml";
}

<ul class="fa-ul" data-bind="foreach: lights">
  <li><i data-bind="click: requestEdit, style: { color: '#' + state.hex() }" class="fa fa-lightbulb-o fa-3x"></i><button class="btn btn-default" data-bind="click: requestEdit, text: name, style: { color: '#' + state.hex() }"></button></li>
</ul>

<button data-bind="click: toggleLights" class="btn btn-default" type="button">Toggle all lights</button>

<script src="/content/js/index/index.js"></script>
